@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #eee;
  margin: 2rem;
  box-shadow: 3px 8px 15px 6px rgba(0, 0, 0, 0.35);
}

/* NAVIGATION STYLES */

.navbar-icon {
  width: 2.8rem;
  height: 2.8rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  flex-direction: column;
}

.open-navbar-icon {
  position: fixed;
  top: 3rem;
  left: 3rem;
  z-index: 200;
}

.navbar-icon .line {
  height: 0.15rem;
  width: 1.8rem;
  background-color: #777;
}

.open-navbar-icon .line {
  margin: 0.25rem 0;
}

.navbar-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  bottom: -100%;
  opacity: 0;
  z-index: 300;
  padding: 2rem 2rem 2rem 2rem;
  transition: bottom 0.5s, opacity 0.2s;
}

.change .navbar-wrapper {
  bottom: 0;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.2s 0.25s;
}

.navbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(images/halong-3.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}

.close-navbar-icon {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 300;
}

.close-navbar-icon .line {
  position: absolute;
}

.line-1 {
  transform: rotate(40deg);
}

.line-2 {
  transform: rotate(-40deg);
}

.nav-list {
  height: 100%;
  display: flex;
}

.nav-link {
  font-size: 2rem;
  font-family: "Merienda", sans-serif;
  font-weight: 700;
  color: #156fd6;
  text-transform: uppercase;
  width: 100%;
  opacity: 0.8;
  position: relative;
  top: -100%;
  transition: all 0.3s;
}

.change .nav-link {
  top: 0;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.change .nav-link:nth-child(1) {
  transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(2) {
  transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(3) {
  transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(4) {
  transition: top 1s 1s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(5) {
  transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
}

@media (max-width: 1000px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    padding: 1rem 0;
  }

  .close-navbar-icon {
    top: 1rem;
    right: 1rem;
  }
}
/* END OF NAVIGATION STYLES */

/* Hero Styles ----------------------------*/

.header {
  width: 100%;
  height: calc(100vh - 4rem);
  background: url(images/halong-3.jpg) center no-repeat;
  overflow: hidden;
  background-size: cover;
  position: relative;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  font-family: "Merienda";
  font-size: 4.8rem;
  color: rgba(255, 253, 255, 0.9);
  text-shadow: 2px 1px #628ac1;
  text-align: center;
}

.header-paragraph {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(134, 163, 206, 0.6);
  color: rgba(255, 253, 255, 0.9);
  text-shadow: 2px 1px #628ac1;
}

@media (max-width: 1350px) {
  .heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 1rem;
  }
}
/* End Hero Styles ----------------------------*/

/* Popular Tours Styles ----------------------------*/
.popular-tours {
  padding: 3rem 0 3rem;
}

.tours-heading {
  font-size: 3.5rem;
  font-family: "Merienda", sans-serif;
  color: #628ac1;
  text-align: center;
  text-shadow: 1px 2px #000;
  margin-bottom: 2rem;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 20rem;
  position: relative;
  perspective: 1000px;
  margin: 1.5rem;
}

.card img {
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.front-side {
  text-align: center;
  background-color: #fff;
  border-radius: 0.3rem 0.3rem 0 0;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, opacity 0.5s;
}

.change-card > .front-side {
  transform: translateZ(-3rem) translateX(1.5rem);
  box-shadow: 0 1rem 2rem #bdbdbd;
  opacity: 0.5;
  z-index: 0;
}

.tour-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  padding: 0.2rem 0.4rem;
  letter-spacing: 0.1rem;
  position: absolute;
  top: 1%;
  right: 2%;
  background-color: rgba(98, 138, 193, 0.4);
}

.card-list {
  color: #628ac1;
  font-weight: 500;
  width: 80%;
  margin: auto;
  padding: 1.2rem 0 1.8rem;
  line-height: 1.5rem;
}

.card-list-item {
  margin: 1.2rem 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgba(98, 138, 193, 0.2);
}

.back-side {
  position: absolute;
  top: 0;
  background-color: #628ac1;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 1rem 2rem #bdbdbd;
  flex-direction: column;
  transform: translateZ(-3rem) translateX(2.3rem);
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
}

.change-card > .back-side {
  transform: translateZ(0rem) translateX(0rem);
  opacity: 0.95;
  /* box-shadow: 0 1rem 2rem #bdbdbd; */
}

.tour-price {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 2rem;
}

.booking-btn {
  color: #3a539b;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  border: none;
  font-size: 1.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.booking-btn:hover {
  transition: 0.3s;
  background-color: #fff;
}

.card-btn {
  color: #3a539b;
  background-color: rgba(255, 255, 255, 1);
  font-size: 1.1rem;
  font-weight: 500;
  position: absolute;
  top: 1%;
  left: 2%;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

.destinations {
  text-align: center;
  margin: 3rem 0 1rem;
  font-size: 1.5rem;
}

.destinations a {
  color: #3a539b;
  border: 2px solid #628ac1;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
}

.destinations a:hover {
  background-color: #fff;
}

.destinations a i {
  padding: 0 0.5rem;
}

@media (max-width: 500px) {
  .destinations {
    font-size: 1.3rem;
  }

  .change-card > .front-side {
    transform: translateZ(-3rem) translateX(1.5rem);
  }

  .back-side {
    transform: translateZ(-3rem) translateX(1.5rem);
  }
}
/* End Popular Tours Styles ----------------------------*/

/* Testimonial Styles ----------------------------*/
.reviews {
  padding: 0rem 0;
  position: relative;
  overflow: hidden;
}

.bg-video {
  width: cover;
  opacity: 0.4;
}

.video-container {
  position: absolute;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-bg {
  background-color: rgba(187, 187, 187, 0.8);
  padding: 2rem;
  margin: 2.5rem auto;
  width: 70%;
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.3);
  transform: skewX(20deg);
}

.review {
  transform: skewX(-20deg);
  display: flex;
}

.tourist-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 3rem;
}

.review-text {
  letter-spacing: 0.1rem;
}

.review p::first-letter {
  margin-left: 0.5rem;
}

.review h1 {
  color: #464646;
  margin-bottom: 1rem;
}

.review p {
  color: #707070;
}

@media (max-width: 900px) {
  .review-bg {
    transform: skewX(0deg);
  }

  .review {
    transform: skewX(0deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review h1 {
    font-size: 1.6rem;
  }

  .review p {
    font-size: 0.9rem;
  }

  .tourist-img {
    margin-bottom: 1rem;
  }
}

@media (max-width: 650px) {
  .review-bg {
    width: 90%;
  }
}
/* End Testimonial Styles ----------------------------*/

/* Content Section Styles ----------------------------*/
.contact {
  padding: 3rem 0 10rem 0;
  text-align: center;
  background: url(images/halong-2.jpg) center no-repeat;
  background-size: cover;
}

.contact-heading {
  font-size: 3.5rem;
  font-family: "Merienda", sans-serif;
  color: #628ac1;
  text-align: center;
  text-shadow: 1px 2px #000;
  margin-bottom: 2rem;
  max-width: 500px;
  margin: auto;
}

.contact-form {
  max-width: 700px;
  min-height: 500px;
  /* background: rgba(255, 255, 255, 0.8); */
  background-color: rgba(98, 138, 193, 0.5);
  margin: 3rem auto;
  flex-direction: column;
  border-radius: 0.3rem;
  box-shadow: 0 1rem 2.2rem #000;
  padding: 3rem;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
  position: relative;
}

.input-groups {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-groups .input-group {
  width: 48.5%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.9);
  opacity: 1; /* Firefox */
}

.input-group input,
.input-group textarea {
  padding: 1.5rem 0.2rem 0.2rem 1rem;
  background-color: rgba(230, 230, 230, 0.4);
  border: 0.1rem solid #888;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  border: 2px solid #888;
}

.input-group input:focus,
.input-group textarea:focus {
  border: 2px solid #888;
}

.input-group label {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.form-btn {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 0.8rem;
  border: 2px solid #888;
  background-color: rgba(230, 230, 230, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.4s;
}

.form-btn:hover {
  background-color: rgba(98, 138, 193, 0.4);
}

.input-group textarea {
  max-height: 4rem;
  max-width: 100%;
}

/* End Content Section Styles ----------------------------*/

/* Footer */
.footer {
  background-color: var(--grey-color);
  padding: 2rem 0 2rem 0;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 1rem;
  background-color: rgba(98, 138, 193, 0.5);
  padding: 0.3rem 0.9rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
}

.footer-link:hover {
  transform: scale(1.1);
}

.footer-paragraph {
  text-align: center;
  font-size: 1rem;
  color: var(--secondary-color);
  letter-spacing: 0.2rem;
  margin-top: 2rem;
}

@media (max-width: 1100px) {
  .footer-list {
    flex-direction: column;
    width: fit-content;
  }
}

@media (max-width: 800px) {
  .contact-form {
    /* box-shadow: 0 8px 6px -6px #000; */
    box-shadow: none;
    margin: 2.2rem 0;
  }
}

/* End of Footer */
